---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Presentation from '../components/Presentation.astro';
---

<Layout title='Portafolio - Mario Sales'>
	<Header />
	<main class='max-w-[700px] m-auto mt-[5em] p-6'>
		<Presentation />
	</main>
</Layout>
