---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Presentation from '../components/Presentation.astro';
import Proyects from '../components/Proyects.astro';
---

<Layout title='Portafolio - Mario Sales'>
	<Header />
	<main class='max-w-[1000px] m-auto mt-[5em] p-6'>
		<Presentation />
		<Proyects />
	</main>
</Layout>
