---

---

<header class='w-full flex justify-center items-center sticky top-3 z-[1000]'>
	<nav
		class='bg-[#1e2737] px-5 py-2 rounded-[30px] flex justify-center items-center gap-6 max-sm:text-sm max-sm:gap-3'>
		<a href=' #experiencia' class='hover:text-orange-400'>Experiencia</a>
		<a href='#proyectos' class='hover:text-orange-400'>Proyectos</a>
		<a href='#sobre-mi' class='hover:text-orange-400'>Sobre mi</a>
		<a href='#contacto' class='hover:text-orange-400'>contacto</a>
	</nav>
</header>
