<section class='flex flex-col gap-10 mb-[10rem]'>
	<div class='flex gap-10'>
		<img src='http://github.com/rodasos.png' class='w-[130px] aspect-[130/130] rounded-[50%]' />
		<a
			href='https://linkedin.com/in/rodasos'
			target='_blank'
			rel='noopener'
			class='flex items-center transition md:justify-center md:hover:scale-105'>
			<div class=''>
				<span class='relative inline-flex overflow-hidden rounded-full p-[1px]'>
					<span
						class='absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#51E4B8_0%,#21554E_50%,#51E4B8_100%)]'
					></span>
					<div
						class='inline-flex items-center justify-center w-full px-3 py-1 text-sm text-green-800 bg-green-100 rounded-full cursor-pointer dark:bg-gray-800 dark:text-white/80 backdrop-blur-3xl whitespace-nowrap'>
						Disponible para trabajar
					</div>
				</span>
			</div>
		</a>
	</div>
	<!--  -->
	<h1 class='text-5xl'>👋 Hola, soy <strong class='text-orange-400'>Mario Sales</strong></h1>
	<p class='text-2xl'><span>Estudiante de Informática y Desarrollador Web </span></p>
</section>
